## Processing the embedding, as follow:
- make a list of patients
- for each patient, get the list of embedding.
- sum the embedding of the patients.
- save it back to the final embedding df

In [3]:
## Processing the embedding, as follow:
# - make a list of patients
# - for each patient, get the list of embedding.
# - sum the embedding of the patients.
# - save it back to the final embedding df

import pandas as pd
import numpy as np

emb_df        = pd.read_csv("../Data/emb.csv")
NoteEvents_df = pd.read_csv("../Data/MIMIC_resources/NOTEEVENTS.csv")

emb_df = pd.merge(emb_df, NoteEvents_df[['ROW_ID', 'SUBJECT_ID', 'HADM_ID']], left_on='Clinical Note', right_on='ROW_ID', how='left')

emb_df.drop('Clinical Note', axis=1, inplace=True)
emb_df.drop('ROW_ID', axis=1, inplace=True)

# Function to convert embedding string to numpy array
def convert_embedding(s):
    # Remove the leading and trailing characters and replace the newline with spaces
    cleaned = s.strip("[]'").replace('\n', ' ')
    # Convert string to numpy array
    return np.fromstring(cleaned, sep=' ')

# Apply the conversion function to the 'Embedding' column
df['Embedding'] = df['Embedding'].apply(convert_embedding)

# Sum embeddings by 'SUBJECT_ID'
# This groups the DataFrame by 'SUBJECT_ID', sums each group, and resets the index
NoteEvents_df = df.groupby('SUBJECT_ID')['Embedding'].apply(lambda x: np.sum(np.vstack(x), axis=0)).reset_index()

NoteEvents_df.to_csv('../Data/grouped_emb.csv')

In [5]:
df

                                             Embedding  SUBJECT_ID   HADM_ID
0    [0.419593781, 0.128789842, -0.158323154, 0.121...       22532  167853.0
1    [-0.127890006, -0.00922672078, -0.41493398, 0....       13702  107527.0
2    [-0.0660667494, 0.210839823, -0.427407771, 0.2...       13702  167118.0
3    [0.0261153728, 0.276259243, -0.411374539, 0.30...       13702  196489.0
4    [0.216208294, -0.037472643, -0.632995129, -0.1...       26880  135453.0
..                                                 ...         ...       ...
995  [0.0252390597, 0.160170719, -0.4036991, 0.1253...       15198  137838.0
996  [-0.0848696306, 0.204563722, -0.784288347, 0.0...        2712  198266.0
997  [0.123458885, 0.0771819353, -0.626125813, 0.19...        2712  157537.0
998  [0.215342313, -0.0152535215, -1.0153954, 0.009...       18511  123903.0
999  [0.0178664029, 0.1550432, -0.459828526, 0.0789...       76558  186116.0

[1000 rows x 3 columns]